/*==================================================
	Sitewide Styles
==================================================*/
* {
	color: #000;
}
body {
	background: none repeat scroll 0 0 #fff;
    color: #222;
    margin:0;
}
a {
	color:#222;
	text-decoration: none;
}
a:hover {
	color: #222;
	text-decoration: underline;
}
a.button:hover {
	text-decoration: none;
}
/*==================================================
	Top Section - Navigation
==================================================*/
.top-navigation {
	float:right;
	margin-right: 25px;
}
.top-navigation li{
	list-style: none;
	display: inline-block;
	text-align: right;
	padding: 5px 10px 0 0;
	vertical-align: bottom;
	margin: 5px 5px 0 0;
	font-size: 13px;
}
.fa {
	font-size: 20px;
	vertical-align: top;
	opacity: 0.7;
	cursor: default;
}
.fa:hover {
	opacity: 1.0;
}
.share-button {
	background-color: #f2f2f2;
	padding:7px 15px;
	cursor: default;
	position: relative;
    top: -3px;
}
.share-button:hover {
	background-color: #E1E1E1;
}
.profile-img {
	border-radius: 25px;
	height: 32px;
    width: 32px;
    position: relative;
    top: 5px;
}
/*==================================================
	Middle Section - Search Box
==================================================*/
.search-box {
	position: absolute;
	margin-top:75px;
	width:100%;
}
.search-box img {
	padding:142px 0 24px 0;
	display: block;
	margin:0 auto;
}
.search-box input {
	width: 600px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #d9d9d9;
    font-size: 16px;
    border-radius: 5px;
    display: block;
}
.search-box input:focus {
	border-color: #f5f5f5;
}
.search-buttons  {
	text-align: center;
	padding-left: 0;
}
.search-buttons button{
    background-color: #f5f5f5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    color: #666;
    font-size: 14px;
    font-weight: bold;
    line-height: 27px;
    margin: 17px 6px;
    padding: 0 12px;
    display: inline-block;
    cursor: pointer;
}
.search-button button:hover{
	background-color:#f8f8f8;
	border: 1px solid #c6c6c6;
    box-shadow:0 1px 1px rgba(0,0,0,0.1);
    color:#333;
} 
/*==================================================
	Bottom Section - Site Links
==================================================*/
.bottom-site-links {
	bottom: 0 !important;
	position: absolute;
	width:100%;
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4; 
}
.left-site-links, 
.right-site-links {
	margin: 0;
}
.left-site-links {
	float:left;
	padding-left:20px;
}
.right-site-links {
	float:right;
	padding-right:10px;
}
.left-site-links li,
.right-site-links li{
	list-style: none;
	display: inline;
	line-height: 40px;
}
.right-site-links li a:first-child {
	padding-right:8px;
}
.left-site-links li:nth-child(2),
.left-site-links li:nth-child(3) {
	margin-left:7px;
}
.left-site-links li a,
.right-site-links li a {
	color: #666;
    margin: 2px 10px 0;
    letter-spacing: 0.1px;
    font-size: 14px;
}
/*==================================================
	Media Queries
==================================================*/
@media screen and (max-width: 1000px) {
	.search-box input {
    	width: 650px;
    }
	.left-site-links, .right-site-links {
	    margin: 5px 0;
	}
@media screen and (max-width: 768px) {
	* {
		font-size: 14px;
	}
	.top-navigation {
		margin-top:0;
		margin-right: 0;
	}
	.top-navigation li {
	    padding: 5px 13px 0 0;
	    margin: 5px 0 0 0;
	}
	.search-box img {
	    padding: 142px 0 7px 0;
	}
	.search-box input {
    	width: 80%;
    	margin: 0 auto;
    	height: 24px;
    	font-size: 14px;
    }
    .left-site-links, 
	.right-site-links {
		margin: 5px;
	}
    .left-site-links {
	    padding-left: 0;
	}
	.right-site-links {
	    padding-right: 0; 
	    padding-left: 0;
	}
	.left-site-links li a, .right-site-links li a {
	    margin: 2px 4px 0;
	    font-size: 14px;
	}
	.search-button button {
		padding: 1px 10px;
	}
}