/*select all h1 tags*/
h1 {
	/*change the text color to red*/
	color:red;
}
/*select all h2 tags*/
h2 {
	/*change the text color to black*/
	color:black;
}
/*select all h3 tags*/
h3 {
	/*change the text color to black*/
	color:black;
}
/*select all span tags*/
span {
	/*change the font size to 100 pixels*/
	font-size: 100px;
}
/*select all div tags*/
div {
	/*change the background color to pink*/
	background-color:pink;
	/*set the height to 200 pixels*/
	height: 200px;
	/*set the width to 500 pixels*/
	width: 500px;
}