h1 {
	color:red;
}
h2 {
	color:black;
}
h3 {
	color:black;
}
div {
	background-color:pink;
	height: 200px;
	width: 300px;
	float: left;
}
.one {
	background-color: grey;
}
.two {
	height: 500px;
}
#three {
	width: 100px;
}